head
b Dear #{name},
br
p Your payment of Rs.#{amount} was a super success.
p
  | Invoice of Rs.#{amount} dated #{date} has been generated successfully and attached below.
p
p Thank you
p Team #{project}
